@import url("https://fonts.googleapis.com/css2?family=Allura&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import "reset.css";
@import "variables.css";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100vw;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 480px;
  background-color: var(--red);
  color: white;
  padding-bottom: 80px;
}

.poster {
  width: 100%;
  color: white;
}

.greetings {
  text-align: center;
}

.greetings p {
  line-height: 1.8rem;
}

.profile {
  padding: 0px 32px;
  margin-top: 48px;
  font-weight: 600;
}
.profile img {
  width: 100%;
  margin: 16px 0px;
}
.profile__box {
  text-align: center;
}
.profile--gold {
  color: #be9467;
}

.program {
  text-align: center;
}

.program__text__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.program__text__lg {
  line-height: 1.5rem;
}

.title {
  font-family: "Allura";
  color: #be9467;
  font-size: 48px;
  padding: 60px 0px 48px 0px;
}

.date {
  text-align: center;
}

.date span {
  font-size: 20px;
  line-height: 2.5rem;
}

.location {
  text-align: center;
  padding: 0px 16px;
}
.location img {
  width: 100%;
  margin: 16px 0px;
}
